{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is home page</h1>
               <p> 
                {{index .StringMap "test"}}
               </p>
               <img src="C:\Users\pc\Documents\Sultan Golang\Building Modern Web Applications with Go (Golang) - Создание современных веб-приложений с помощью Go (Golang)\bookings\static\images/house.jpg">
        </div>
    </div>
</div>
{{end}}